.login {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url('../../assets/img/GTA_BG_Auth.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.loginBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.64);
  backdrop-filter: blur(10px);
}

.login::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/img/GTA_BG_Auth_login.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  bottom: 0;
  left: 0;
  position: absolute;
  background: radial-gradient(ellipse at top center,
          rgba(212, 89, 34, 0.53) 0%,
          transparent 70%);
  transform: rotate(180deg);
  background-size: cover;
  height: 242px;
  width: 100%;
  z-index: 1;
}

.gtaMen {
  width: 700px;
  height: 798px;
  position: absolute;
  bottom: 0;
  left: 0;

  background-image: url('../../assets/img/GTA_men.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.gtaMen::after {
  content: '';
  position: absolute;
  width: 760px;
  height: 685px;
  bottom: 0;
  left: 0;
  background-image: url('../../assets/img/GTA_cars.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gtaWomen {
  width: 661px;
  height: 770px;
  position: absolute;
  bottom: 0;
  right: 0;

  background-image: url('../../assets/img/GTA_women.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.gtaWomen::after {
  content: '';
  position: absolute;
  width: 846px;
  height: 630px;
  bottom: 0;
  right: 0;

  background-image: url('../../assets/img/GTA_guns.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imageWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.logo::after {
  content: url(../../assets/svg/UNEKT.svg);

  position: absolute;
  top: 115px;
  left: 31vw;

  z-index: 10;
}

.logo::before {
  content: url(../../assets/svg/UNEKTMain.svg);
  position: absolute;
  top: 164px;
  left: 44vw;
  //left: 835px;

  z-index: 10;
}




