html::before,
html::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  pointer-events: none;
  z-index: -2;
}

html::before {
  background-image: url('../../assets/img/GTA_BG_Auth.webp');
}

html::after {
  background-image: url('../../assets/img/GTA_BG_Auth_login.webp');
  background-color: rgba(32, 32, 32, 0.64);
  backdrop-filter: blur(10px);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

body::before,
body::after,
.bodyLeft::before,
.bodyLeft::after,
.bodyRight::after,
.bodyRight::before {
  content: '';
  position: fixed;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.bodyLeft::before {
  left: 0;
  width: 700px;
  height: 798px;
  background-image: url('../../assets/img/GTA_men.webp');
}

.bodyLeft::after {
  left: 0;
  width: 760px;
  height: 685px;
  background-image: url('../../assets/img/GTA_cars.webp');
}

.bodyRight::before {
  right: 0;
  width: 661px;
  height: 770px;
  background-image: url('../../assets/img/GTA_women.webp');
}

.bodyRight::after {
  right: 0;
  width: 846px;
  height: 630px;
  background-image: url('../../assets/img/GTA_guns.webp');
}

.footer::before {
  content: '';
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 242px;
  background: radial-gradient(ellipse at top center, rgba(212, 89, 34, 0.53) 0%, transparent 70%);
  transform: rotate(180deg);
  z-index: -1;
}

.logo::after, .logo::before {
  position: fixed;
  z-index: -1;
  pointer-events: none;
}

.logo::before {
  content: url('../../assets/svg/UNEKT.svg');
  top: 115px;
  left: 31vw;
}

.logo::after {
  content: url('../../assets/svg/UNEKTMain.svg');
  top: 164px;
  left: 44vw;
}