// theme.scss

$primary-color: #1B1D1E;
$accent-color: #D45922;
$text-color: #FFFFFF;

$border-default: #FFFFFF1A;
$border-focused: #FFFFFF4D;
$border-error: #ED2B2B;
$border-success: #93D63E;

$button-hover: #F47B45;
$button-disabled: #606060;
$button-disabled-text: #2B2B2B;

$checkbox-active-disabled: #D4592280;

@mixin fullscreen() {
  width: 100vw;
  height: 100vh;
}

@mixin originalCenteredBg() {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
