@font-face {
    font-family: 'NanumGothic';
    src: url('./utils/fonts/NanumGothic.woff2') format('woff2'),
    url('./utils/fonts/NanumGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('./utils/fonts/NanumGothicBold.woff2') format('woff2'),
    url('./utils/fonts/NanumGothicBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumGothicExtraBold';
    src: url('./utils/fonts/NanumGothicExtraBold.woff2') format('woff2'),
    url('./utils/fonts/NanumGothicExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

