.registration {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../assets/img/GTA_BG_Auth.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.regBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.64);
  backdrop-filter: blur(10px);
}

.registration::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/img/GTA_BG_Auth_login.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


