@import '../../../utils/theme/theme.scss';

.inputGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkBoxLabel {
  width: auto;
  height: 20px;

  font-family: NanumGothic, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $text-color;
}

.formCheckBox {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: $primary-color;
  border: 2px solid $border-focused;
  padding: 5px;
  border-radius: 6px;
}

.formCheckBox:checked {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: black;
  border: 2px solid $accent-color;
  padding: 5px;
  border-radius: 6px;
}

.formCheckBox:checked:disabled {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: $primary-color;
  border: 2px solid $checkbox-active-disabled;
  padding: 5px;
  border-radius: 6px;
}

.formCheckBox:disabled {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: $primary-color;
  border: 2px solid $border-default;
  padding: 5px;
  border-radius: 6px;
}

.formCheckBox:checked:disabled::before {
  content: url(../../../assets/svg/checkBox_CHECKED_DISABLED.svg);
  position: absolute;
  top: 0;
  left: 4px;
}

.formCheckBox:checked::before {
  content: url(../../../assets/svg/checkBox_CHECK.svg);
  position: absolute;
  top: 0;
  left: 4px;
}