.buttonAuth {
  //Button
  width: 400px;
  height: 62px;
  padding: 10px;
  gap: 10px;
  border-radius: 6px;
  background: #D45922;

  //Button Text
  font-family: NanumGothic, sans-serif;
  border: unset;
  font-size: 18px;
  font-weight: 800;
  line-height: 17.23px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.2s;
}

.buttonAuth:hover {
  transition: 0.2s;
  box-shadow: 0 0 10px 0 #D45922;
  background: #F47B45;
}

.buttonAuth:disabled {
  background: #606060;
  color: #2B2B2B;
}

.buttonAuth:disabled:hover {
  background: #606060;
  color: #2B2B2B;
  box-shadow: unset;
}