.buttonAuth {
  //Button
  width: 400px;
  height: 62px;
  padding: 10px;
  gap: 10px;
  border-radius: 6px;
  background: #D45922;

  //Button Text
  font-family: NanumGothic, sans-serif;
  border: unset;
  font-size: 18px;
  font-weight: 800;
  line-height: 17.23px;
  text-align: center;
  color: #FFFFFF;
}