.login {
  display: flex;
  align-items: center;
  width: 100vh;
  height: 100vh;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.buttonRegister {
  font-family: NanumGothic, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #D45922;
  background-color: transparent;
  border: unset;
}


.wrapper {
  display: flex;
  justify-content: space-between;
}
