.login {
  display: flex;
  align-items: center;
  width: 100vh;
  height: 100vh;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonRegister {
  font-family: NanumGothic, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #D45922;
  background-color: transparent;
  border: unset;
}

.buttonAuth {
  //Button
  width: 400px;
  height: 62px;
  padding: 10px;
  gap: 10px;
  border-radius: 6px;
  background: #D45922;

  //Button Text
  font-family: NanumGothic, sans-serif;
  border: unset;
  font-size: 18px;
  font-weight: 800;
  line-height: 17.23px;
  text-align: center;
  color: #FFFFFF;

}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.inputGroup {
  display: flex;
  align-items: center;
}

.checkBoxLabel {
  width: auto;
  height: 20px;

  font-family: NanumGothic, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: white;
}

.formCheckBox {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #1B1D1E;
  border: 2px solid #FFFFFF4D;
  padding: 5px;
  border-radius: 6px;
}

.formCheckBox:checked {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #000000;
  border: 2px solid #D45922;
  padding: 5px;
  border-radius: 6px;
}

.formCheckBox:checked:disabled {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #1B1D1E;
  border: 2px solid #D4592280;
  padding: 5px;
  border-radius: 6px;
}

.formCheckBox:disabled {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #1B1D1E;
  border: 2px solid #FFFFFF1A;
  padding: 5px;
  border-radius: 6px;
}

.formCheckBox:checked:disabled::before {
  content: url("../../../assets/svg/checkBox_CHECKED_DISABLED.svg");
  position: absolute;
  top: 0;
  left: 4px;
}

.formCheckBox:checked::before {
  content: url("../../../assets/svg/checkBox_CHECK.svg");
  position: absolute;
  top: 0;
  left: 4px;
}
