@import '../../../utils/theme/theme.scss';

.buttonAuth {
  //Button
  width: 400px;
  height: 62px;
  padding: 10px;
  gap: 10px;
  border-radius: 6px;
  background: $accent-color;

  //Button Text
  font-family: NanumGothic, sans-serif;
  border: unset;
  font-size: 18px;
  font-weight: 800;
  line-height: 17.23px;
  text-align: center;
  color: $text-color;
  transition: 0.2s;
}

.buttonAuth:hover {
  transition: 0.2s;
  box-shadow: 0 0 10px 0 $accent-color;
  background: $button-hover;
}

.buttonAuth:disabled {
  background: $button-disabled;
  color: $button-disabled-text;
}

.buttonAuth:disabled:hover {
  background: $button-disabled;
  color: $button-disabled-text;
  box-shadow: unset;
}